<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  
  <xacro:property name="mm2m" value="0.001"/>

  <xacro:property name="base_length" value="${200*mm2m}"/>
  <xacro:property name="base_width" value="${200*mm2m}"/>
  <xacro:property name="base_height" value="${40*mm2m}"/>

  <xacro:property name="wheel_radius" value="${50*mm2m}"/>
  <xacro:property name="wheel_width" value="${20*mm2m}"/>

  <xacro:property name="caster_wheel_radius" value="${10*mm2m}"/>

  <xacro:property name="lidar_radius" value="${10*mm2m}"/>
  <xacro:property name="lidar_width" value="${20*mm2m}"/>
  <xacro:property name="lidar_base" value="${60*mm2m}"/>

</robot>