<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- === Plugins === -->
    <gazebo>
        <!-- Ros2 control plugin -->
        <!-- In addition to the ros2_control tags, a Gazebo plugin needs to be added to your URDF 
        that actually parses the ros2_control tags and loads the appropriate hardware interfaces and controller manager -->
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters> $(find twr_description)/controllers/twr_diff_drive.yaml </parameters>
        </plugin>

        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

    </gazebo>


    <!-- =============== -->
    <!-- === SENSORS === -->
    <!-- =============== -->

    <!-- === LIDAR === -->
    <gazebo reference="lidar_link">
        <sensor name="lidar_link" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.1415926535</min_angle>
                        <max_angle>3.1415926535</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>10</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <!-- <gz_frame_id>lidar_link</gz_frame_id> -->
        </sensor>
    </gazebo>

</robot>