<?xml version="1.0"?>
<robot name="twr" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find twr_description)/urdf/macros/inertia.macro.xacro"/>
  <xacro:include filename="$(find twr_description)/urdf/macros/wheel.macro.xacro"/>
  <xacro:include filename="$(find twr_description)/urdf/macros/lidar.macro.xacro"/>

  <xacro:include filename="$(find twr_description)/urdf/packages/gz.xacro"/>
  <xacro:include filename="$(find twr_description)/urdf/packages/ros2_control.xacro"/>

  <xacro:include filename="$(find twr_description)/urdf/properties/colors.xacro"/>
  <xacro:include filename="$(find twr_description)/urdf/properties/geometry.xacro"/>

  <!-- === BASE === -->
  <xacro:include filename="$(find twr_description)/urdf/parts/twr_base.xacro"/>

  <!-- === WHEELS === -->
  <xacro:include filename="$(find twr_description)/urdf/parts/twr_drive_wheels.xacro"/>
  <xacro:include filename="$(find twr_description)/urdf/parts/twr_caster_wheels.xacro"/>

  <!-- === SENSORS === -->
  <xacro:include filename="$(find twr_description)/urdf/parts/sensors/twr_lidar.xacro"/>

</robot>